{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">About Us</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>Finding a wine you love isn’t always easy; the burden choice can be too cumbersome. Our mission is to
                make it easy for Dionne's Wines customer to enjoy good wines and to drink better. </p>

            <p>At Dionne's Wines we love wine and love sharing delicious wines direct from iconic vineyards.</p>

            <p>Our aim is to deliver a best possible customer experience and our knowledgeable, enthusiastic teams are
                delighted to share their knowledge and help customers to find their perfect wine. </p>

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}