{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Delivery, Returns & Frequently Asked Questions</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Delivery</h3>
            <hr>
            <p>Deliveries usualyy take 2-3 working days but during busy periods such as Christmas and Black friday
                deliveries may take up to 5 working days.</p>
            <hr>
            <h3>Returns</h3>
            <hr>
            <p>If you wish to return or exchange please contact dionneswines@example.com.</p>
            <p>In the unfortunate case of goods being faulty or damaged in transit, O’Briens offer the choice of either
                a replacement or a full refund including any postage costs incurred. Please contact
                dionneswines@example.com.</p>
            <hr>
            <h3>Frequently Asked Questions</h3>
            <hr>
            <p><strong>Is there a minimum order amount to shop online?</strong></p>
            <p>There is no minimum order when shopping with us online. Delivery is free if the order exceeds €60.</p>
            <p><strong>Can I cancel my order?</strong></p>
            <p>You can cancel your order immediately up to the point of dispatch.</p>

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}