{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid hero-container">
    <div class="row hero-overlay hero-image img-fluid">
        <div class="col-12 hero-text my-auto">
            <h1 class="display-4 logo-font text-black">
                Buy Wine Online Delivered to your Door
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'wines' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        All Wine</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid customer-review text-center">
    <div class="row">
        <div class="col mt-3">
            <h4 class="logo-font">What Our Customers Say</h4>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        {% for review in reviews %}
        <div class="col-md-6 col-lg-3">
            <p class="small">{{ review.name }}</p>
            <p class="small">{{ review.rating }}/5
                <i class="fas fa-star text-warning mx-auto my-auto"></i>
            </p>
            {% if user.is_authenticated or review.is_customer %}
            <p class="small">
                <i class="fas fa-check text-black mx-auto my-auto"></i>
                Verified Customer</p>
            {% else %}
            <p class="small">Anonymous</p>
            {% endif %}
            <p class="small">{{ review.comment }}</p>
            <p class="small text-muted">{{ review.date_created|date }}</p>
            <hr class="w-50 mb-1">
        </div>
        {% endfor %}
    </div>
    <div class="row my-2">
        <div class="col text-center">
            <h3>
                <a href="{% url 'add_review' %}" class="btn btn-black rounded-0 text-uppercase py-3">Leave a
                    Review</a>
            </h3>
        </div>
    </div>
</div>
{% endblock %}