<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-wines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-wines-link">
                <a href="" class="dropdown-item">By Type</a>
                <a href="" class="dropdown-item ">By Grape</a>
                <a href="" class="dropdown-item ">By Country</a>
                <a href="" class="dropdown-item ">By Price</a>
                <a href="{% url 'wines' %}" class="dropdown-item">All Wines</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="red-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Red
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="white-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                White
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="rose-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rosé
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sparkling-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sparkling & Champagne
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sparkling-link">
                <a href="" class="dropdown-item">Sparkling</a>
                <a href="" class="dropdown-item">Champagne</a>
                <a href="" class="dropdown-item">All Sparkling &amp; Champagne</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>